@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
    :root {
        --background: oklch(0.98 0.004 49.25);
        --foreground: oklch(0.147 0.004 49.25);
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.147 0.004 49.25);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.147 0.004 49.25);
        --primary: oklch(0.837 0.128 66.29);
        --primary-foreground: oklch(0.216 0.006 56.043);
        --secondary: oklch(0.96 0.004 49.25);
        --secondary-foreground: oklch(0.147 0.004 49.25);
        --muted: oklch(0.92 0.004 49.25);
        --muted-foreground: oklch(0.4 0.007 34.298);
        --accent: oklch(0.92 0.004 49.25);
        --accent-foreground: oklch(0.147 0.004 49.25);
        --destructive: oklch(0.577 0.245 27.325);
        --destructive-foreground: oklch(1 0 0);
        --border: oklch(0 0 0 / 0.125);
        --input: oklch(0 0 0 / 0.2);
        --ring: oklch(0.837 0.128 66.29);
        --chart-1: oklch(0.837 0.128 66.29);
        --chart-2: oklch(0.705 0.213 47.604);
        --chart-3: oklch(0.871 0.15 154.449);
        --chart-4: oklch(0.852 0.199 91.936);
        --chart-5: oklch(0.685 0.169 237.323);
        --sidebar: oklch(0.98 0.004 49.25);
        --sidebar-foreground: oklch(0.147 0.004 49.25);
        --sidebar-primary: oklch(0.837 0.128 66.29);
        --sidebar-primary-foreground: oklch(0.216 0.006 56.043);
        --sidebar-accent: oklch(0.92 0.004 49.25);
        --sidebar-accent-foreground: oklch(0.147 0.004 49.25);
        --sidebar-border: oklch(0 0 0 / 0.125);
        --sidebar-ring: oklch(0.646 0.222 41.116);
        --radius: 0.625rem;
        --font-sans: 'Instrument Sans', sans-serif;
        --font-serif: 'Playfair Display', serif;
        --primary-light: oklch(0.901 0.076 70.697);
        --primary-dark: oklch(0.837 0.128 66.29);
        --primary-ring: oklch(0.75 0.183 55.934);
    }

    .dark {
        --background: oklch(0.147 0.004 49.25);
        --foreground: oklch(1 0 0);
        --card: oklch(0.216 0.006 56.043 / 0.6);
        --card-foreground: oklch(1 0 0);
        --popover: oklch(0.216 0.006 56.043);
        --popover-foreground: oklch(1 0 0);
        --primary: oklch(0.837 0.128 66.29);
        --primary-foreground: oklch(0.216 0.006 56.043);
        --secondary: oklch(1 0 0 / 0.1);
        --secondary-foreground: oklch(1 0 0);
        --muted: oklch(0.268 0.007 34.298);
        --muted-foreground: oklch(0.97 0.001 106.424 / 0.7);
        --accent: oklch(0.268 0.007 34.298);
        --accent-foreground: oklch(1 0 0);
        --destructive: oklch(0.577 0.245 27.325);
        --destructive-foreground: oklch(100% 0.00011 271.152);
        --border: oklch(1 0 0 / 0.125);
        --input: oklch(1 0 0 / 0.2);
        --ring: oklch(0.837 0.128 66.29);
        --chart-1: oklch(0.837 0.128 66.29);
        --chart-2: oklch(0.705 0.213 47.604);
        --chart-3: oklch(0.871 0.15 154.449);
        --chart-4: oklch(0.852 0.199 91.936);
        --chart-5: oklch(0.685 0.169 237.323);
        --sidebar: oklch(0.147 0.004 49.25);
        --sidebar-foreground: oklch(1 0 0);
        --sidebar-primary: oklch(1 0 0 / 0.85);
        --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
        --sidebar-accent: oklch(1 0 0 / 0.1);
        --sidebar-accent-foreground: oklch(1 0 0);
        --sidebar-border: oklch(1 0 0 / 0.125);
        --sidebar-ring: oklch(0.646 0.222 41.116);
        --radius: 0.625rem;
        --font-sans: 'Instrument Sans', sans-serif;
        --font-serif: 'Playfair Display', serif;
        --primary-light: oklch(0.901 0.076 70.697);
        --primary-dark: oklch(0.837 0.128 66.29);
        --primary-ring: oklch(0.75 0.183 55.934);
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}